*{
  margin:0;
  padding:0;
}
.container{
  margin:10% 20% 5% 20%;
  text-align:center;
  border:1px solid #999;
}
.header{
  background-color:#4487c6;
}
.container input{
  background-color:#eaeaea;
  border-radius:5px;
}
.content{
  margin-top:10px;
}
.content-box{
  border:1px solid #999;
  text-align:center;
  padding:2%;
  height:50px;
  line-height:50px;
  background-color:#f1e9c7;
  
}
.content-box img{
  float:left;
  height:50px;
  
  
}
.content-box h4{
  display:inline; 
  float:right;
}
.content-box h3{
  display:inline-block;  
}
.content-box a{
  text-decoration:none;
  color:black;
}
.content-box a:hover{
  font-size:120%;
  color:blue;
}