html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 //	font: inherit;
 	vertical-align: baseline;
  
   /* Disable mouse selection */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
 }
body{
  text-align:center;
  background-color:#35918C;
}

.game{
  height:400px;
  width:400px;
  background-color:#333;
  border-radius:50%;
  margin:70px auto;
  border:10px solid #333;
  box-shadow: 0 0 12px #222;
}

.top-l{
  width:180px;
  height:180px;
  background-color:#9f0f17;
  border-top-left-radius:100%;
  border:10px solid #333;
  float:left;
}
.top-r{
  width:180px;
  height:180px;
  background-color:#00a74a;
  border-top-right-radius:100%;
  border:10px solid #333;
  float:right;
}
.bottom-l{
  width:180px;
  height:180px;
  background-color:#cca707;
  border-bottom-left-radius:100%;
  border:10px solid #333;
  float:left;
}
.bottom-r{
  width:180px;
  height:180px;
  background-color: #094a8f;
  border-bottom-right-radius:100%;
  border:10px solid #333;
  float:right;
}
.center{
  width:200px;
  height:200px;
  background-color:white;
  border-radius:100%;
  position:relative;
  top:50%;
  left:50%;
  margin:-110px 0 0 -110px;
  border:10px solid #333
  
}

.title{
  font-size:45px;
  margin-top:20px;
  
}
.R{
  font-size:20px;
  position:relative;
   top:-20px;
}
.display{
  width:50px;
  height:30px;
  background-color:#32050C;
  position:relative;
  left:30px;
  border-radius:10px;
  color:red;
  text-align:center;
  line-height:30px;
  padding:0;
  margin:0;
  
}
 .count{
  color:red;
  font-size:20px;
  display:block;
   position:relative;
   height:30px;
   top:-420px;
  
}

.switch{
  height:20px;
  width:40px;
  background-color:black;
  position:relative;
 // left:100px;
  display: inline-block;
  top:5px;
  border-radius:2px;
}
.switch-box{
  position:relative;
  top:-420px;
  float:left;
  left:90px;
  height:20px;
  line-height:30px;
  
}
 .inline{
  display:inline;
}
.switch-btn{
  width:20px;
  height:18px;
  background-color:#eee;
  display:inline-block;
  position:relative;
  left:-61px;
  top:4px;
  border-radius:2px;
 // -webkit-animation: switch 1s;
}
//@-webkit-keyframes switch /* Safari and Chrome */
//{
//	from {left:-79px;}
//	to {left:-60px;}
//}
.start{
  height:40px;
  width:200px;
 // position:relative;
  z-index:100;
  text-align:center;
  
}
.start span{
  position:absolute;
  left:90px;
  
}
.start-btn{
  border:3px solid #333;
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:#0ebeff;
  position:relative;
  left:60px;
  top:17px;
  box-shadow: 0px 2px 3px #222;
}

.stratic{
  height:50px;
  width:100px;
}
.stratic-btn{
  border:3px solid #333;
  border-radius:50%;
  width:15px;
  height:15px;
  background-color:#47cf73;
  position:relative;
  left:60px;
  top:7px;
  box-shadow: 0px 2px 3px #222;
}
.stratic span{
  position:absolute;
  left:90px;
  top:160px;
}
.led{
  border:1px solid #333;
  border-radius:50%;
  width:7px;
  height:7px;
  background-color:#8c1a1a;
  position:relative;
  left:80px;
  top:-14px;
}